/* ------------------------------------------
   DARK MODE — PANEL MODAL
------------------------------------------ */

:not(.light-mode) {
    
  .nm-panel-modal {
    .modal-dialog {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2010;
      margin: 0;
      width: 850px;
      height:650px;
      overflow-x:hidden;
      overflow-y:hidden;
      }

    .modal-content {
      background-color: $dm-bg-1 ;
      border: 3px solid rgba($dm-text, 0.5) ;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba($dm-text, 0.3);

    }
      .nm-panel-modal-header {
      border-bottom: 2px solid rgba($dm-text, 0.5) ;
      .form-label{
        color: $dm-text ;
        font-family: 'Arial';
        font-weight: bold;
        font-size:medium;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .close{       
          position: absolute;
          top: 12px;
          right: 12px;

          background: transparent;
          border: none;

          font-size: 1.8rem;
          font-weight: 300;
          line-height: 1;

          color: $dm-text;
          opacity: 0.6;
          cursor: pointer;

          padding: 4px;
          z-index: 5;
          transition: all 0.2s ease;

          &:hover {
            opacity: 1;
            transform: scale(1.15);
            text-shadow: 0 0 8px rgba($dm-text, 0.4);
          }
        }
    }

    .nm-panel-modal-body {
      padding: 10px;
      background-color: $dm-bg-1 ;
      overflow-x:hidden;
      overflow-y:hidden;

      .form-label{
        color: $dm-text ;
        font-family: 'Arial';
        font-weight: bold;
        font-size:medium;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      .form-control {
        background-color: $dm-bg-1 ;
        border: 2px solid rgba($dm-text, 0.5);
        color: $dm-text ;
        font-size: 0.9rem;
        border-radius: 10px;

        &:focus-within {
          box-shadow: 0 0 12px $dm-text ;
          color: $dm-text ;
        }
      }

    }
    
    

    .modal-footer {
      background-color: $dm-bg-1 ;
      border: none ;

      .nm-btn-primary {
        background: $dm-surface ;
        border: 1px solid $dm-surface ;
        color: $dm-slot;

        &:hover {
          background: lighten($dm-surface, 10%) ; 
          box-shadow: 0 0 12px $dm-text ;
          color: $dm-text ;
        }
      }

      .nm-btn-secondary {
        border: 1px solid $color-border-cyber ;

        &:hover {
           background: rgba(255, 255, 255, 0.1);
          color: #fff;
        }
      }
    }

    &.d-block {
      display: block;
    }
  }
  
}